// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$whiteColor: #ffffff;
$greyColor: #9a9ea1;
$darkGreyColor: #343c42;
$lightGreyColor: #f7f7f7;
$drakColor: #636b6e;

$primaryColor: #3d769e;
$primaryGreyColor: #f4f7fb;
$errorColor: #c32c39;
$errorGreyColor: #f9e1e1;
$successColor: #547d36;
$successGreyColor: #f2fbea;
$font-family: 'Poppins', sans-serif;
%fontNormal {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}

%fontNormalBold {
  @extend %fontNormal;
  font-weight: 500;
}
